@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u,  center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font: inherit;
    text-decoration: none;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-style: unset;
    position: relative;
    min-height: 100vh;
 
}


.nav-item p {
    font-size: x-large;
} 

.nav-item  i{
    font-size: 35px;
    margin-left: 10px;
    margin-right: 10px;
    scale: (1);
    transition: 0.2s;
}
.nav-item i:hover {

    margin-left: 10px;
    margin-right: 10px;
    
    transform: scale(1.2);
    transition: 0.2s;
}


.navbar-brand{
    
    font-size: 2em;
    font-weight: 600;
}


.firstSection{
    
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6) ), url('/img/barbora-dostalova-pYasvfeT0_M-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.firstSection p{
    font-size: 1.1rem;
    padding-left: 20%;
    padding-right: 20%;
}
.firstSection a{
   padding-left: 5px;
   padding-right: 5px;
  

}

.registration{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6) ), url('/img/niclas-illg-wzVQp_NRIHg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.registration .Card{
    width: 40%;
}

.registration form input[type="email"]{
    width: 100%;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid;
}
.registration form input[type="password"]{
    width: 100%;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid;
}
.registration form button{
    width: 100%;
}
.shoppingCart{
   margin-top: 5%;
   margin-bottom: 100px;
  
}
.topProducts{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    align-content: center;
}
.topProducts h2{
    
    font-weight: 600;
    
}

.cartCard{
    
    padding-bottom: 10px;
    border-radius: 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.406);
} 
.cartCard div p.text-success{
    font-size: larger;
    font-weight: bold;

   
}
.grow{
    margin: 10px;
    padding: 0px;
    scale: (1.0);
    transition: .2s;
    box-shadow: 0 0 10px #00000022;
}


.grow:hover{
    margin: 0px;
    padding: 0px;
    scale: (2);
    transition: 0.2s;
    box-shadow: 0 0 15px #00000068;
}

footer{

    
  width: 100%;


 
     
    
}
footer i {
    font-size: 35px;
}


/*small*/
@media (max-width: 576px ) { 
    .firstSection p{
        font-size: 1.1rem;
        padding-left: 0%;
        padding-right: 0%;
    }

    .registration .Card{
        width: 80%;
    }
 }

/*Medium*/
@media (max-width: 768px) {  
    .registration .Card{
        width: 80%;
    }
}

/*Large*/
@media (min-width: 992px) {  }

/*Extra Large*/
@media (min-width: 1200px) {  }